* {
    margin: 0;
    padding: 0;
}


.main{
    color: #fff;
}
nav{
    height: 5rem;
    display: flex;
    color: #fff;
    align-items: center;
    background-color: #000;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 1rem;
    

}
button{
    background-color: #000;
    color: #fff;
    background-color: purple;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.links{
    display: flex;
}