* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
}
ul{
    display: flex;
    color: #fff;
    
}
li{
    list-style: none;
    margin: 20px;
}
.text-main{
    color: #fff;
    
}
nav{
    background-color: #000;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;

}
ul:hover{
    color: yellow;
    transition: 0.5s;
}